<launch>
    <!--Start camera feed-->
    <!-- <include file="$(find realsense2_camera)/launch/rs_d435i.launch"/> -->
    <include file="$(find realsense2_camera)/launch/rs_t265.launch"/>

    <!--Start foxglove bridge-->
    <!-- <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
        <arg name="port" value="8765" />
    </include> -->


    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
        <arg name="port" value="8080"/>
    </include>

    <!--Start to listen to throttle and steer commands-->
    <node pkg="racecar" type="ros2feather.py" name="FeatherSerial" output="screen" />
    <node pkg="racecar" type="ros2vesc.py" name="VESCSerial" output="screen" />

</launch>
